<footer>
    
    <div class="row copyright">
      <div class="footer-menu">
    
        <a routerLink="">Home</a>
      <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">About</a>
      <a routerLink="/register">Sign Up</a>
     
    
      </div>
       <p>Copyright &copy; 2023 WebLizard</p>
    </div>
    </footer>





<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">About WebLizard</h1>
      </div>
      <div class="modal-body">
        <b> Welcome to WebLizard.com!</b>

        These terms and conditions outline the rules and regulations for the use of WebLizard's Website, located at www.WebLizard.com.
        
        By accessing this website we assume you accept these terms and conditions. Do not continue to use WebLizard.com if you do not agree to take all of the terms and conditions stated on this page.
                
        Cookies
        We employ the use of cookies. By accessing WebLizard.com, you agreed to use cookies in agreement with the WebLizard's Privacy Policy.
                
     <p>
          License
          Unless otherwise stated, WebLizard and/or its licensors own the intellectual property rights for all material on WebLizard.com. All intellectual property rights are reserved. You may access this from WebLizard.com for your own personal use subjected to restrictions set in these terms and conditions.
          Disclaimer
          To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will
          As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.
     </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">I Understood</button>
      </div>
    </div>
  </div>
</div>