<app-header></app-header>


       <body>
         <div class="container">
             <div class="text">Lets Update</div>



             <form [formGroup]="updateForm" (ngSubmit)="update()"  action="#">
               <div class="form-row">
            
                   <div class="input-data">
                      <input name="mail" formControlName="mail" type="text" required>
                      <div class="underline"></div>
                      <label for="">Enter Your Registerd Email Address</label>
                      <div *ngIf="updateForm.get('mail')?.errors && updateForm.get('mail')?.touched" class="mb-3 text-danger">invalid email</div>

                   </div>
                </div>
                <div class="form-row">
                   <div class="input-data">
                      <input name="pswd" formControlName="pswd" type="text" required>
                      <div class="underline"></div>
                      <label for="">New Password</label>
                      <div *ngIf="updateForm.get('pswd')?.errors && updateForm.get('pswd')?.touched" class="mb-3 text-danger">invalid password</div>

                   </div>
                   <div class="input-data">
                      <input name="repswd" formControlName="repswd" type="text" required>
                      <div class="underline"></div>
                      <label for="">Repeat-New Password</label>
                      <div *ngIf="updateForm.get('repswd')?.errors && updateForm.get('repswd')?.touched" class="mb-3 text-danger">invalid password</div>

                   </div>
                </div>
                <div class="form-row">
                   <div class="input-data textarea">
                      <br />
                      <div class="form-row submit-btn">
                         <div class="input-data">
                            <div class="inner"></div>
                            <input (click)="update()" type="submit" value="submit">
                         </div>
                      </div>
                   </div>
                </div>
             </form>


          </div>
        </body>
 
     

<app-footer></app-footer>

